/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2017, 03:43:32 AM
    Author     : Pilar Chiong Maurici
*/

#partners {
    background: white;
    text-align: center;    
}

#partners .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#partners h2{
    color: gray;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.info-logo {
    margin: 20px;
}

.info-logo img {
    height: 150px;
    /*border-radius: 50%;*/
    /*border: 7px solid #fff;*/    
}
