/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/06/2017, 10:00:36 AM
    Author     : Pilar Chiong Maurici
*/

#saexperience h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

#saexperience em{
    color: gray;
    /*font-style: normal;*/
    font-size: 15px;
}

#saexperience h3, #saexperience em{
    margin-bottom: 10px;
    margin: 20px;
}

.saexperience-info {
    margin: 20px;
    margin-left: 35px;
}

.saexperience-info h4 {
    margin-bottom: 10px;
}

.saexperience-info p {
    text-align: justify;
    margin-bottom: 10px;
}

.saexperience-info ul{
    list-style-type: square;
    margin-left: 30px;
}

.saexperience-info a{
    color: #333;
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}