@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('header.css');
@import url('banner.css');
@import url('info.css');
@import url('video.css');
@import url('sdg.css');
@import url('numeros.css');
@import url('partners.css');
@import url('footer.css');
@import url('slide.css');
@import url('form.css');
@import url('aboutus.css');
@import url('ourvillages.css');
@import url('ourimpact.css');
@import url('saexperience.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

.section {
    width: 100%;
    margin-bottom: 30px !important;
}

.first-section{
    margin-top:50px !important;
}

.scroll {
    /*It was defined just for fun*/
}

.colorSae h1, .colorSae h2, .colorSae h3{
    color:#16388e;
}

.colorSae p{
    color:#333;
}

@media (min-width:1024px){
    .contenedor {
        width: 1000px;
    }
}
